In [2]:
import pandas as pd

In [3]:
df=pd .read_csv('spotify_millsongdata.csv')

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df=df.drop('link',axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,I'm waitin' for you baby \r\nI'm sitting all ...

In [10]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [11]:
df=df.sample(5000)

In [12]:
df.shape

(5000, 3)

TEXT CLEANING/TEXT PROCESSING

In [14]:
df['text']=df['text'].str.lower().replace(r'^w\s',' ').replace(r'\n',' ',regex=True)

In [15]:
df['text']

49052    sonny t.?  \r hey man, sorry 4 fuckin' up your...
50495    oh it's been such a long long time  \r looks l...
23223    she's still got those pretty eyes like she did...
24149    in the cool of the evening when everything is ...
27481    deep the cellar, timbers high,  \r (both hands...
                               ...
25961    it's the most fattening time of the year  \r w...
14067    [verse 1]  \r yo, i had to reinvent, i put the...
42075    under the intense scrutiny of ligeia's eyes  \...
25914    oh, oh, oh, oh  \r its mr brown mr brown is a ...
28520    samui kita no kuni wa ima, mori no juhyo ga ki...
Name: text, Length: 5000, dtype: object

In [16]:
df.head()

,artist,song,text
49052,Prince,Dj Seduces Sonny,"sonny t.? \r hey man, sorry 4 fuckin' up your..."
50495,Reba Mcentire,Misty Blue,oh it's been such a long long time \r looks l...
23223,Alabama,She's Got That Look In Her Eyes,she's still got those pretty eyes like she did...
24149,Andy Williams,Spooky,in the cool of the evening when everything is ...
27481,Children,Build A Home,"deep the cellar, timbers high, \r (both hands..."

In [17]:
import nltk
from nltk.stem.porter import PorterStemmer

In [18]:
stemmer=PorterStemmer()

In [19]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return" ".join(a)

In [20]:
token('you are beautiful beauty')

'you are beauti beauti'

In [21]:
df['text'].apply(lambda x:token(x))

49052    sonni t. ? hey man , sorri 4 fuckin ' up your ...
50495    oh it 's been such a long long time look like ...
23223    she 's still got those pretti eye like she did...
24149    in the cool of the even when everyth is get ki...
27481    deep the cellar , timber high , ( both hand po...
                               ...
25961    it 's the most fatten time of the year with th...
14067    [ vers 1 ] yo , i had to reinvent , i put the ...
42075    under the intens scrutini of ligeia 's eye i h...
25914    oh , oh , oh , oh it mr brown mr brown is a cl...
28520    samui kita no kuni wa ima , mori no juhyo ga k...
Name: text, Length: 5000, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
TfidfVectorizer(analyzer='word',stop_words='english')